.center{
  text-align: center;
}

.container{
  background-color: aqua;
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
}

.btn-container{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn{
  background-color: rgb(240, 240, 100);
  padding: 0.5rem 1.25rem;
  border-radius: 5px;
  font-size: 1.25rem;
  cursor: pointer;
}
.reset{
  background-color: rgb(231, 56, 40);
}

.result{
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

.score{
  font-weight: bold;
  font-size: 1.5rem;
}