*{
  margin: 0;
  padding: 0;
}


.container{
  display: grid;
  grid-template-rows: 180px 180px 180px;
  grid-template-columns:180px 180px 180px;
  background-color: rgb(152, 198, 237);
  gap: 20px;
  padding: 1.5rem;
  height: 100vh;
  justify-content: center;
  /* justify-items:center; */
  align-content: center;
  /* align-items: center; */
}

.item{
  text-align: center;
  background-color: aqua;
  border: 1px solid black;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
